
* {
	font-family: 'tronFont', monospace;
}
.container {
	background-image: url("http://pre12.deviantart.net/da7f/th/pre/i/2013/012/e/b/another_tron_type_floor_by_taz09-d5rbmoq.png");
	background-size: 100%;
	position: relative;
	width: 400px;
}

#motorcycleOne {
	height: 60px;
	margin-top: 30px;
	width: 100px;
	position: relative;
	padding-left: 0%;
	background-color: #00cefb;
}
#motorcycleTwo {
	height: 60px;
	width: 100px;
	margin-top: 150px;
	position: relative;
	padding-left: 0%;
	background-color: #00cefb;
}
.heading {
	height: 15%;
	margin-left: 120%;
	margin-top: 85px;
	width: 80%;

}
p {
	height: 70px;
	padding-top: 25px;
	margin-top: -95px;
	margin-left: 10px;
	border: 5px solid #00cefb;
	text-align: center;
	background-color: rgba(2, 218, 234, .50);
    border-radius: 5px;
	text-shadow: 0vw 0vw 1vw #00cefb;
    text-shadow: 
    -.1vw 0vw .25vw #03E6F7, -.2vw 0vw .25vw #03E6F7, -.4vw 0vw .25vw #03E6F7, 
    -.1vw 0vw .1vw #04d0df, -.2vw 0vw .1vw #04d0df, -.4vw 0vw .1vw #04d0df,
    -.1vw 0vw .8vw #04d0df, -.2vw 0vw .8vw #00CC2A, -.4vw 0vw .8vw #04d0df, .2vw 0vw .5vw #04d0df,
    -.1vw 0vw .5vw #04d0df, -.2vw 0vw .5vw #04d0df, -.4vw 0vw .5vw #04d0df, 
    -.1vw 0vw 10vw #02daea, -.2vw 0vw 10vw #02daea, -.4vw 0vw 10vw #02daea;
}


/*-----------landing-page-------------*/

 .container2 {
	background-color: Black;
	color: #FFFFFF;
	text-decoration: none;
}
.start {
	display: block;
	margin: 0 auto;
	margin-top: 100px;
	padding-top: 100px;
	padding-bottom: 80px;
    width: 40%;
}

#begin {
	
	display: block;
	margin: 0 auto;
    margin-bottom: 35px;
    width: 30%;
    height: 13%;
    border: 5px solid #00cefb;
    text-decoration: none;
    text-align: center;
    padding-top: 40px;
    background-color: rgba(2, 218, 234, .50);
    border-radius: 5px;
    position: relative;
    font-size: xx-large;
    animation: flashText .5s ease-out alternate infinite;
    text-shadow: 0vw 0vw 1vw #00cefb;
    text-shadow: 
    -.1vw 0vw .25vw #03E6F7, -.2vw 0vw .25vw #03E6F7, -.4vw 0vw .25vw #03E6F7, 
    -.1vw 0vw .1vw #04d0df, -.2vw 0vw .1vw #04d0df, -.4vw 0vw .1vw #04d0df,
    -.1vw 0vw .8vw #04d0df, -.2vw 0vw .8vw #00CC2A, -.4vw 0vw .8vw #04d0df, .2vw 0vw .5vw #04d0df,
    -.1vw 0vw .5vw #04d0df, -.2vw 0vw .5vw #04d0df, -.4vw 0vw .5vw #04d0df, 
    -.1vw 0vw 10vw #02daea, -.2vw 0vw 10vw #02daea, -.4vw 0vw 10vw #02daea;
}

/*audio { width: 300px; height: 30px; }*/


/*    Make responsive for mobile and tablets --- this is my attempt
Include a media query for a tablet to make your pages responsive*/


/*----- tablet ----*/


@media and (min-device-width: 768px) and (max-device-width: 1024px)  {
    .container {
		background-image: url("http://pre12.deviantart.net/da7f/th/pre/i/2013/012/e/b/another_tron_type_floor_by_taz09-d5rbmoq.png");
		background-size: 100%;
		position: relative;
		width: 200px;
	}
	.heading {
		height: 15%;
		margin-left: 10%;
		margin-top: 10px;
		width: 80%;
	}
}
